<br>
<font size="+2"> In this notebook, we will be working on questions in the Colab Notebooks section in Module 1. </font>
<br><br>

# Questions on Accessing Data



Let's take a break from learning basic pandas commands and have you practice what you've learned so far. To do this, we will work in this new Colab notebook.
<br><br>
In this notebook, you will read the `city_temperature.csv` datafile; the format of this datafile is the same as the temperature datafile we were using in the video, it just has many more data points because it includes temperature data for the entire world (i.e. rows).

<font color='#FF4500' size="+2"> To set up your DataFrame for these questions, run the cell below. </font>

In [7]:
#from google.colab import drive
#drive.mount('/content/drive/', force_remount=True)

#import os
#os.chdir("/content/drive/My Drive/AIMOOC")

import pandas as pd
df = pd.read_csv("~/AIMOOC/Modules/Module1/Data/city_temperature.csv", engine="python")

## Question 1

What's the name of the country at row number 1000000?

In [11]:
df.loc[1000000]["Country"]

'Yugoslavia'

## Question 2

What is the name of the city that comes last alphabetically?

In [29]:
df["City"].sort_values(ascending=False).reset_index().loc[0]["City"]

'Zurich'

## Question 3

How many data points are there in the US?

In [35]:
df[df["Country"]=="US"]["Country"].count()

1455337

## Question 4

What is the highest temperature in the dataset?

In [36]:
df["AvgTemperature"].max()

110.0

## Question 5

What is the lowest temperature in the US? This dataset uses -99 as the temperature for missing values. Find the minimum temperature ignoring -99.

In [39]:
df[(df["Country"]=="US")&(df["AvgTemperature"]!=-99)]["AvgTemperature"].min()

-50.0

## Question 6

What is the average August temperature in Beijing?

In [40]:
df[(df["City"]=="Beijing")&(df["Month"]==8)]["AvgTemperature"].mean()

77.9541935483871

## Question 7

What is the city with the highest temperature?

In [45]:
df.sort_values(by=['AvgTemperature'], ascending = False ).reset_index().loc[0]["City"]

'Kuwait'

## Question 8

In which year was the temperature in May the highest?

In [49]:
df[df["Month"]==5].sort_values(by=['AvgTemperature'], ascending = False ).reset_index().loc[0]["Year"]

1999

In [60]:
df.groupby("Year")['AvgTemperature'].sum().sort_values(ascending = False ).reset_index().loc[0]["Year"]

2012.0

In which city was the temperature in May the highest?

In [62]:
df[df["Month"]==5].sort_values(by=['AvgTemperature'], ascending = False ).reset_index().loc[0]["City"]

'Kuwait'

In [65]:
df[df["Month"]==5].groupby("City")['AvgTemperature'].sum().sort_values(ascending = False ).reset_index().loc[0]["City"]

'Charleston'